/* stules page */
body {
  margin: 0 auto;
  max-width: 1920px;
  min-width: 375px;
  position: relative;
  padding-top: 100px;
}
ul {
  padding: 0;
}
a{
  text-decoration: none;

}
span {
  color: rgb(255, 255, 255);
  font-size: 54px;
  font-weight: bold;
}
h1,h2{
  margin: 0;
  padding: 0;
}
h2{
  color: rgb(223, 180, 146);
  font-weight: bold;

}
h3{
  font-size: 26px;
  margin: 0;
  padding-top: 10px;
}
p{
  color: rgb(104, 103, 85);
}
button{
  background: linear-gradient(to right, rgb(245, 206, 176), rgb(224, 157, 106));
  height: 40px;
  width: 125px;
  border: none;
  margin-left: 8px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover{
 box-shadow: 5px 5px 5px #979595d0;
 font-weight: bold;
 color: rgb(14, 118, 168);
}
.circle img{
  position:absolute;
  z-index: 100;
  margin: 0 auto; 
  top: 20px;
  left: 100px;
  width: 400px;
}
.circle2 img{
  position: absolute;
  z-index: -1;
  width: 250px;
  top: 370px;
  left: 500px;
}
.circle3 img{
  position: absolute;
  z-index: -1;
  width: 400px;
  top: 190px;
  left: 1290px;

}
.circle4 img{
  position: absolute;
  z-index: -1;
  width: 600px;
  top: 570px;
  left: 1250px;
}
.circle5 img{
  position: absolute;
  z-index: -1;
  width: 500px;
  top: 800px;
  left: -300px;
}
.circle6 img{
  position: absolute;
  z-index: 1;
  width: 400px;
  top: 1150px;
  left: 1400px;
}  
.circle7 img{
  position: absolute;
  z-index: -1;
  width: 500px;
  top: 1600px;
  left: 1100px;
}
.circle8 img{
  position: absolute;
  z-index: -1;
  width: 500px;
  top: 2410px;
  left: -100px;
}
.circle9 img{
  position: absolute;
  z-index: 10;
  width: 500px;
  top: 2650px;
  left: 900px;
}
/* --------------------------------------- */
/* header stules  */
header {
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  position: fixed;
}
.main-info__wrapper{
  height: 60px;
}
.naw-burger {
  display: none;
}
.main-info__wrapper ul{
  display: flex;
  margin: 0;
}
.main-info__content li {
  list-style: none;
  margin: 20px;
  color: white;
  cursor: pointer;
  transition: ease 1s;
  
}
.main-info__content li:hover {
  font-size: 18px;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.main-naw__social ul li {
  list-style: none;
  margin-left: 20px;
}
.main-info__content a{
  color: white;
}
.icon:hover { 
  fill: rgb(14, 118, 168);
  cursor: pointer;
}
.icon {
  box-sizing: content-box;
  filter: url(../img/svg/twitter.svg#drop-shadow)
}
.main-naw {
  white-space: nowrap;
}
.main-naw__wrapper{
    position: relative;
}
.main-naw__content {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 90px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: rgb(211, 211, 211);
  box-shadow: 8px 5px 5px rgb(211, 211, 211);
  
}
.main-naw__logo {
  position: static;
  margin-left: 300px;
  margin-right: 200px;
  transition: all 1s;
}
.main-naw__info {
  border-radius: 10px;
  margin: 15px;
  margin-right: 300px;
  background: linear-gradient(to right, rgb(243, 206, 177), rgb(225, 182, 150));
}
.main-info__wrapper {
  display: flex;
  box-shadow: 5px 5px 5px rgb(179, 177, 177);
  border-radius: 8px;
}
.main-naw__social {
  border-left: 2px solid white;
  justify-content: center;
  margin: auto;
}
.icon {
  height: 24px;
  fill: white;
  width: 30px;
}

.main-naw__social ul {
  margin: 5px;
  margin-left: 20px;
  margin-right: 25px;
}

.main-naw__social ul li {
  padding-right: 0px;
}
/* --------------------------------------- */
/* stules first preview */

.preview-foto img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: inline-block;
}
.icon-git,.icon-dev{
  width: 50px;
  margin-left: 5px;
}


.linkMyWorks{
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: flex-end;
}

.main-preview__wrapper{
  margin: auto;
  margin-top: 140px;
  margin-left: 300px;
  box-sizing: border-box;
}
.preview-foto{
 width: 200px;
}
.preview-foto img{
  height: 350px;
  width: 300px;
}

.first-preview__wrapper{
  display: flex;
  justify-content: space-between;
}
.firstInfo__wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 500px;
  justify-content: flex-end;


}
.firstInfo{
  background: rgba(255, 255, 255, 0.7);
  width: 600px;
  box-shadow: 5px 5px 5px rgb(179, 177, 177);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 10px;
}
.firstInfo-contact{
text-align: end;
}
/* -------------------- */
/* stules second preview */
.second-preview__wrapper{
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin-top: 40px;
  margin-left: 50px;
  margin-bottom: 50px;
}
.preview-about{
  width: 50%;
  padding-top: 40px;
  margin-right: 100px;
  text-align: justify;
}
.preview-about ul{
  margin-left: 10px;
}
.preview-about ul li::marker{
  font-size: 8px;
}

.end-easy-code{
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: flex-end;

}
.icon-easy__code{
  width: 130px;
}

.preview-skills{
  width: 50%;
  box-shadow: 5px 5px 5px rgb(179, 177, 177);
  padding: 40px;
}
.skills-percentages{
  margin-top: 40px;
}
.skills-percentages p{
  color: white;
  margin-right: 10px;
}
.skills-percentages > div{
  background-color: rgb(240, 239, 245);
  width: 80%;
  border-radius: 10px;
  display: flex;
  height: 35px;
  margin: 10px;
  margin-left: 0px;
  flex-direction: column;
}
.skill-PHP {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 5px 5px 5px rgb(179, 177, 177);
  align-items: center;
  border-radius: 5px;
  justify-content: flex-end;
  background-color: rgb(240, 203, 174);
}
.skill-JS{
  width: 90%;
  height: 100%;
  display: flex;
  box-shadow: 5px 5px 5px rgb(179, 177, 177);
  align-items: center;
  border-radius: 5px;
  justify-content: flex-end;
  background-color: rgb(240, 203, 174);
}
.skill-HTML{
  width: 90%;
  height: 100%;
  display: flex;
  box-shadow: 5px 5px 5px rgb(179, 177, 177);
  align-items: center;
  border-radius: 5px;
  justify-content: flex-end;
  background-color: rgb(240, 203, 174);
}
.skill-NODEJS{
  width: 60%;
  height: 100%;
  display: flex;
  box-shadow: 5px 5px 5px rgb(179, 177, 177);
  align-items: center;
  border-radius: 5px;
  justify-content: flex-end;
  background-color: rgb(240, 203, 174);
}
.skill-CSS{
  width: 90%;
  height: 100%;
  display: flex;
  box-shadow: 5px 5px 5px rgb(179, 177, 177);
  align-items: center;
  border-radius: 5px;
  justify-content: flex-end;
  background-color: rgb(240, 203, 174);
}
.skill-GO{
  width: 60%;
  height: 100%;
  display: flex;
  box-shadow: 5px 5px 5px rgb(179, 177, 177);
  align-items: center;
  border-radius: 5px;
  justify-content: flex-end;
  background-color: rgb(240, 203, 174);
}
/* stules tools*/
.tools__wrapper{
  max-width: 1920px;
  background: linear-gradient(to right, rgb(251, 241, 232), rgb(233, 205,183));
}
.tools-content{
  margin-left: 350px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.tools-item{
  display: flex;
  margin-top: 20px;
}
.tools-item div {
  background-color: white;
  border-radius: 10px;
  margin: 10px;

  box-shadow: 5px 5px 5px rgb(179, 177, 177);
}
.tools-item div{
  text-align: center;
  padding-top: 10px;
}
.tools-item svg {
  width: 90px;
  height: 50px;
  padding: 10px;
}
.tools-item img {
  width: 70px;
  height: 70px;
  padding: 0px 20px 0px 20px;
}
.tools-item p {
  margin: 0px 0px 10px 0px;
}
.item-styled{
width: 110px;
}
.item-styled svg {
  width: 40px;
  padding: 0;
}
/*stules myWorks*/
.myWorks-content{
  margin-left: 350px;
  margin-top: 40px;
}
.myWorks-content p{
  max-width: 600px;
  margin: 30px 0px;
}
.myWorks-item {
  display: flex;
  flex-wrap: wrap;
  
  max-width: 1200px;
}
.myWorks-item img{
  width: 100%;
}

.myWorks-item > div{
  margin: 0px 20px 40px 0px;
  box-shadow: 5px 5px 5px rgb(179, 177, 177);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  background-color: white;
  width: 30%;
}
.link-work {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.link-work img {
  width: 40px;
}
.work-info {
  position: absolute;
  font-size: 22px;
  text-align: left;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(194, 168, 151,0.8);
}
.work-info h3 {
  padding: 40px 0px 0px 40px;
}
.work-info p {
  margin-top: 0;
  color: white;
  margin-left: 40px;
}
.myWorks-item > div:hover .work-info{
  display: block;
  width: 100%;
  
}
.myWorks-item > div:hover .link-work img{
  filter: brightness(0) invert(1);
  z-index: 100;
}
/*stules blog post*/
.blogPost-content{
  padding: 40px 0px 40px 350px;
}
.main-blogPost-title {
  margin-bottom: 30px;
}
.title-content {
  max-width: 1200px;
}
.post {
  display: flex;
  padding-bottom: 40px;
}
.title-img img{
max-width: 400px;
border-radius: 10px;
}
.title{
  padding-left: 40px;
}
.title-heading div {
  display: flex;
  justify-content: space-between;
}
.title-heading p {
  color: rgb(223, 180, 146);
  text-decoration: none;
}
.read-more {
  text-align: center;
  
}
/*stules contact me*/
.contact__wrapper{
  background: linear-gradient(to right, rgb(251, 241, 232), rgb(233, 205,183));
}
.contact-content{
  margin-left: 350px;
  padding: 40px 0px;
  max-width: 1200px;
  display: flex;
  flex-shrink: 2;
  justify-content: space-between;
}
.contact-form{
  width: 50%;
}
.contact-info {
  margin: 0px 20px;
  text-align: end;
  font-size: 22px;
  position: relative;
}
.contact-info img{
  max-width: 300px;
  

}
.contactMe {
  position: relative;
  display: flex;
  flex-direction: column;
}
.contactMe input {
  display: block;
  padding: 5px 20px;
  height: 50px;
  margin: 10px 0px;
  border: none;
  box-shadow: 5px 5px 5px rgb(179, 177, 177);
}
.contactMe textarea {
  height: 200px;
  padding: 20px 20px;
  resize: none;
  margin-top: 10px;
  border: none;
  box-shadow: 5px 5px 5px rgb(179, 177, 177);

}
.contactMe button {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 610px;
}

.mail-tel {
  position: absolute;
  text-align: right;
  display: flex;
  align-items: center;
  top: 25%;
  background: rgba(253, 250, 245, 0.7);
}
.mail-tel p{
  text-align: left;
  margin-right: 20px;
}
.mail-tel svg{
  width: 80px;
  height: 60px;
  padding: 20px;
 fill: rgb(223, 180, 146);;
}
.main-nawBurger__social{
  display: none;
}
/*mobile ver*/
@media screen and (max-width:1850px){
  /*circle */
  .display-none{
    display: none;
  } 
}
@media screen and (max-width: 1550px){
  .main-naw__logo{
    margin: 20px;
  }
  .main-preview__wrapper{
    margin: 20px;
  }
  .tools-content{
    margin: 20px;
  }
  .myWorks-content{
    margin: 20px;
  }
  .blogPost-content{
    padding: 0;
    margin: 20px;
  }
  .contact-content{
    margin: 0px 20px;
  }
  .myWorks-item{
    justify-content: center;
  }
  
}
@media screen and (max-width: 1200px){
  .main-naw__info {
    margin: 20px;
  }
}
@media screen and (max-width: 1050px){
  .contact-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-content > div {
    margin: 20px;
  }
  .contactMe button {
    position: static;
    margin: 20px;
    margin: 20px auto;
  }
  .tools-item {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 850px){
  body{
    padding-top: 60px;
  }
  .main-naw__logo{
    margin: 0px 20px;
  }
  .main-naw__info{
    margin: 0px;
    background: none;
  }
  .main-info__wrapper{
    box-shadow: none;
    margin: 0;
    top: 0;
    right: 0;
  }
  .main-naw__content{
    height: 60px;
  }
  .naw-burger{
    width: 200px;
    height: 60px;
    position: fixed;
    right:0;
    top: 0;
    display: block;
  }
  .menu-icon {
    margin: 15px 20% auto auto;
    position: relative;
    width: 35px;
    height: 35px;
    transition: ease 1s;
  }
  .menu-icon span,
  .menu-icon::before,
  .menu-icon::after{
    left: 0;
    position: absolute;
    height: 5px;
    width: 100%;
    transition: ease 1s;
    background-color: rgb(228, 167, 120);
    
  }
  .menu-icon span{
    top: 45%;
    transform: scaleX(85%);
    width: 35px;
  }
  .menu-icon::before{
    top: 0;
    content: '';
  }
  .menu-icon::after{
    bottom: 0;
    content: '';
  }
  .menu-link{
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    transform: translate(100%,0px);
    transition: transform 1.5s ;
  }

  .menu-link ul{
    margin: 20px 0px;
    
    flex-direction: column;
    list-style: none;
  }
  .menu-link li{
    margin: 15px 0px;
    text-decoration: none;
  }
  .menu-link a{
    color: rgb(228, 167, 120);
  }
  .main-info__content{
    display: none;
    
  }
  .main-naw__social{
    display: none;
  }
  .firstInfo__wrapper {
    margin: 5%;
    
  }
  .firstInfo {
    width: 90%;
  }
  .active .menu-link{
    transform: translate(0,0);
    transition: ease 1s;
    display: block;    
  }
  .active .burger-background{
    transform: translate(0,0);
    transition: ease 1s;
  }
  .menu-icon.active{
    margin: 15px 75% auto auto;
     /* transform: translate(); */
    transition: ease 1.5s;
  }
  .active span{
    transform: scale(0) translate(0px,0);
  }
  .active ::before{
    top: 49%;
    transform: rotate(45deg) translate(0px,-50%);
  }
  .active ::after{
    bottom: 49%;
    transform: scaleY(10px);
    transform: rotate(-45deg) translate(0px,50%);
  }
  .burger-background{
    transform: translate(100%,0px);
    position: fixed;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(251, 241, 232,0.95), rgba(231, 168, 120, 0.904));
    transition: ease 3s;
  }
  .main-nawBurger__social{
    transform: translate(100%,0px);
    display: block;   
    transition: all 2s;
  }
  .main-nawBurger__social li {
    list-style: none;
    
  }
  .main-nawBurger__social ul {
    justify-content: center;
    gap: 10px;
  }
  .active .main-nawBurger__social{
    transform: translate(0,0);
    transition: ease 1s;
  }
  .work-info p,
  .work-info h3{
    font-size: 16px;
    padding: 10px;
    margin: 5px;
  }
}
@media screen and (max-width: 700px){
  /*previev*/

  .main-preview__wrapper{
    margin: 30px;
  }
  .first-preview__wrapper{
    flex-direction: column;
    
  }
  .preview-foto{
    width: 100%;
    text-align: center;

  }
  .firstInfo__wrapper{
    margin: 0px 20px;
    justify-content: center;
    align-items: baseline;
  }
  .firstInfo-contact{
    width: 100%;
    text-align: center;
  }
  .second-preview__wrapper{
    flex-direction: column;
    margin: 20px;
  }
  .preview-about{
    margin: 10px;
    width: auto;
  }
  .preview-skills{
    padding: 10px;
    width: auto;
  }
  /*tols*/
  .tools-content{
    margin: 10px;
    padding: 0;
    text-align: center;
  }
  .tools-item{
    flex-wrap: wrap;
    justify-content: center;
  }
  .tools-item div{
    margin: 20px;
  }
  /*muworks*/
  .myWorks-content{
    margin: 10px;
  }
  .myWorks-item > div{
    width: auto;
    padding: 5px;
  }
  .work-info p,
  .work-info h3{
    font-size: 22px;
    padding: 15px;
    margin: 10px;
  }
  /*tols*/
  .blogPost-content {
    padding: 10px;
  }
  .post{
    flex-direction: column;
  }
  .title-img img{ 
    width: 99%;
  }
  /*contacts*/
  .contact-content{
    margin: 0px 10px;
    flex-direction: column;
  }
  .contact-form{
    width: auto;
  }
  .contact-info{
    padding-top: 40px;
  }
  .contactMe button{
    position:static;
    width: auto;
    margin: 10px;
  }
  /*circle*/
  .display-none img {
    display: none;
  }
}
